*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*************
INIZIO SFONDO 
*************/
#app{
    height: 100vh;
    padding-top: 20px;
    background: linear-gradient(180deg, #009688 13%, #d8dbd5 13%);
}

.container{
    width: 1300px;
    margin: 26px auto;
    height: 800px;
}
/*************
FINE SFONDO 
*************/

/************************
INIZIO HEADER DI SINISTRA
************************/
header{
    display: flex;
    height: 80px;
}

.nome-utente,
.nome-utente-selezionato{
    background-color: gray;
    height: 80px;
}

.utente{
    display: flex;
    align-items: center;
}
.nome-utente{
    width: 50%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.utente > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
}
.utente > span{
    font-size: 20px;
}
.icone-nome-utente > i{
    margin-right: 10px;
    font-size: 25px;
}
/************************
FINE HEADER DI SINISTRA
************************/

/************************
INIZIO HEADER DI DESTRA
************************/
.nome-utente-selezionato{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.utente-selezionato{
    display: flex;
    align-items: center;
}
.utente-selezionato > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

info-utente-selezionato{
    flex-direction: column;
}
/************************
FINE HEADER DI DESTRA
************************/

/************************
INIZIO MAIN CENTRALE
************************/
.struttura-centrale{
    display: flex;
    height: calc(800px - 80px);
}
/************************
FINE MAIN CENTRALE
************************/

/************************
INIZIO MAIN DI SINISTRA
************************/
.main-sinistra{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid black;
    min-height: 100px;
    background-color: lightslategray;
   
}
.ricevi-notifiche{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: lightskyblue;
    padding: 10px;
    
}
.ricevi-notifiche > i{
    color: lightskyblue;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 15px;
}
.cerca-inizia-chat{
    display: flex;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.cerca-inizia-chat > input{
    border-style: none;
    width: 100%;
    margin-left: 20px;
}

.listaUtenti{
    width: 100%;
    list-style: none;
    overflow: auto;
    overflow-y: scroll;
}

.listaUtenti > li{
    display: flex;
    position: relative;
}
.listaUtenti > li > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.opacita{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 19.2%;
    height: 100%;
    border-radius: 50%;
}


/************************
INIZIO MAIN DI DESTRA
************************/
.main-destra{
    width: 100%;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    overflow-y: scroll;
}

.barra-messaggi{
    height: 100px;
    display: flex;
    background-color: lavenderblush;
    justify-content: space-evenly;
    align-items: center;
}
.barra-messaggi > input{
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    font-size: 25px;

}
.barra-messaggi > i{
    font-size: 35px;
}

#lista-messaggi{
    display: flex;
    flex-direction: column;
    list-style: none;
}


.messaggi-ricevuti{
    align-self: flex-start;
    background-color: lawngreen;
    text-align: left;
    padding: 20px;
    width: 50%;
}

.messaggi-inviati{
    align-self: flex-end;
    background-color: white;
    text-align: right;
}
