*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*************
INIZIO SFONDO 
*************/
body{
    background-color: lightgray;
    
}
#app{
    background-color: lightgreen;
    height: 100px;
    padding: 20px;
}

.container{
    width: 1200px;
    margin: auto;
    background-color: lightsalmon;
    height: 95vh;
}
/*************
FINE SFONDO 
*************/

/************************
INIZIO HEADER DI SINISTRA
************************/
header{
    display: flex;
}
.nome-utente{
    width: 50%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.utente{
    align-items: center;
}
.utente > img{
    align-items: center;
}

.nome-utente,
.utente-parlante{
    background-color: gray;
    height: 80px;
}

.utente > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.utente > span{
    font-size: 20px;
}
.icone-nome-utente > i{
    margin-right: 10px;
    font-size: 25px;
}
/************************
FINE HEADER DI SINISTRA
************************/

/************************
INIZIO HEADER DI DESTRA
************************/
.utente-parlante{
    width: 100%;
}