
<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML/CSS/JAVASCRIPT - SINGLE PAGE APP [Boolzap]</title>

    <!-- Google Fonts link -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <!-- Fontawesome Icons link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div id="app">
      <div class="container">
        <header>
          <!-- INIZIO HEADER DI SINISTRA -->

          <div class="nome-utente">
            <!-- INIZIO NOME UTENTE ED ICONE-->
            <div class="utente">
              <img v-bind:src="immagineUtente"  alt="avatar mio"/>
              <span>{{nomeUtente}}</span>
            </div>
    
            <div class="icone-nome-utente">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
           
          </div> <!-- / nome-utente -->
          <!-- /FINE NOME UTENTE ED ICONE-->
    
          <!-- / FINE HEADER DI SINISTRA -->

          <!-- INIZIO HEADER DI DESTRA -->
        
          <!-- INIZIO NOME UTENTE SELEZIONATO DAL CLICK ED ICONE-->
          <div class="nome-utente-selezionato">

            <div class="utente-selezionato">
              <!-- lego la mia immagine con il v-bind, e la compongo con la stringa -->
              
              <img v-bind:src=" './img' + '/avatar' + contatti[contattoCliccato].avatar + '.jpg'"  alt="avatar selezionato"/> <!-- per cambiare l'immagine del contatto selezionato al click, e quindi di passare da un contatto ad un'altro, devo creare una proprietà, la quale è inizializzata a zero(contattoCliccato = 0), inserita nel data.
                quindi per prendere l'immagine, devo fare (contatti[contattoCliccato].avatar), significa vai nell'array oggetto chiamato CONTATTI, prendi la posizione in base al click(contattoCliccato), e seleziona l'immagine, data dalla proprietà avatar. -->
            
              <div class="info-utente-selezionato">
               
                <span>{{contatti[contattoCliccato].name}}</span> <!-- stessa identica cosa la devo fare per lo span, dato che lui tiene il nome dell'utente selezionato, è lo stesso procedimento ma con la proprietà name -->
                <p>Ultimo accesso oggi alle: {{contatti[contattoCliccato].messages[contatti[contattoCliccato].messages.length-1].date}}</p>
                <!-- in questo caso è leggermente diverso, perchè la proprietà messages, è un array di oggetti, ed io devo selezionare più i messaggi e tutto l'array di messages, quindi nel richiamo con la doteNotation, devo fare:
                contatti[contattoCliccato].messages:
                entra in lista contatti, e con la tua posizione, prendi messages.
                dopo di che devi dire ke prendi tutto l’array di messaggi facendo -1:
                [contatti[contattoCliccato].messages.length - 1]
                si deve mettere tutto nelle quadre, che vuol dire entra in lista contatti, e con la tua posizione, prendi tutto l’array messaggi - 1.
                poi solo in questa ultima parte prendi data
                quindi fuori dalle quadre, richiamandolo con il punto-->
              </div>
            </div><!-- / utente-selezionato-->

            <div class="icone-nome-utente">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>

          </div><!-- / nome-utente-selezionato-->
          <!-- /FINE NOME UTENTE SELEZIONATO DAL CLICK ED ICONE-->

          <!-- /FINE HEADER DI DESTRA -->
        </header>

        <main class="struttura-centrale">
          <!-- INIZIO MAIN CENTRALE -->
          <div class="main-sinistra">

            <div class="ricevi-notifiche">

              <i class="fas fa-bell-slash"></i>

              <div class="accedi-notifiche">
                <p>Ricevi notifiche di nuovi messaggi</p>
                <a href="#">Attiva notifiche desktop</a>
              </div>

            </div><!-- /ricevi-notifiche -->

          <!-- INIZIO DI CERCA HO INIZIA UNA NUOVA CHAT -->
            <div class="cerca-inizia-chat">
              <i class="fas fa-search"></i>
              <input v-model="trovaPersona" type="text" @keyup="cercaPersona" placeholder="Cerca ho inizia una nuova chat">
            </div><!-- /cerca-inizia-chat -->
          <!-- /FINE DI CERCA HO INIZIA UNA NUOVA CHAT -->


            <ul class="listaUtenti">
              <li v-for="(contatto, index) in contatti" v-if="contatto.visible == true" @click="contattoSelezionato(index)">

                <img v-bind:src=" './img' + '/avatar' + contatto.avatar + '.jpg' " alt="immagini utenti">
                <h2>{{contatto.name}}</h2>
                <div class="opacita">

                </div>
              </li>
            </ul>
          </div><!-- /main-sinistra -->

          <!-- inizia main-destra -->
          <div class="main-destra">
            <ul id="lista-messaggi">
              <li class="messaggi-inviati" :class="(messaggio.status == 'received') ? 'messaggi-inviati' : 'messaggi-ricevuti' " v-for="messaggio in contatti[contattoCliccato].messages">
                <div>
                    <p class="carateristiche-testo">{{messaggio.text}}</p>
                    <div class="contiene-data">
                      <span class="carateristiche-data">{{messaggio.date}}</span>
                    </div>
                    
                </div>
              </li>
            </ul>
          
          </div>
          
          <!-- /FINE MAIN CENTRALE -->
        </main>
          <footer> 
            <div class="barra-messaggi">
            <i class="far fa-smile"></i>
            <input v-model="messaggioUtente" @keyup.enter='inserireMessaggi' type="text" placeholder="Scrivi un messaggio">
            <i class="fas fa-microphone"></i>
          </div>
        </footer>
      </div>
    </div>
    

     <!-- VUE JS -->
     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

     <!-- LIBRERIA DATA JS -->
     <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
        <script>dayjs().format('DD/MM/YYYY hh:mm:ss')</script>

    <script src="js/main.js" charset="utf-8"></script>

  </body>
</html>